* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.4;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/spacemono/v12/i7dPIFZifjKcF5UAWdDRYE58RXi4EwSsbg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  background-color: #2E1603;
  color:#F4F0E5 ;
  margin: 0;
  padding: 0 30px;
  text-rendering: geometricprecision;
  -webkit-font-smoothing: subpixel-antialiased;  
}

h1 {
  font-size: 100px;
  line-height: 0.95;
  letter-spacing: -0.04em;
  text-align: center;
  position: sticky;
  top: 0;
  margin: 0 0 1em;
  padding-top: 1em;
}

h2 {
  font-size: 20px;
  line-height: 0.95;
  letter-spacing: -0.04em;
  text-align: center;
  position: relative;
  top: -60px;
  margin: 0 0 1em;
  padding-top: 1em;
  color: #58341E;
}
h3 {
  font-size: 10px;
  line-height: 0.95;
  letter-spacing: -0.04em;
  text-align: center;
  position: relative;
  top: -60px;
  margin: 0 0 1em;
  padding-top: 1em;
  color: #58341E;
}
h4 {
  font-size: 10px;
  line-height: 0.95;
  letter-spacing: -0.04em;
  text-align: center;
  position: relative;
  top: -60px;
  margin: 0 0 1em;
  padding-top: 1em;
  color: #58341E;
}
}
img {
  width: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

a {
  color: #2D29F0;
  font-weight: bold;
  text-transform: uppercase;
}

#albums-list {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-bottom: 100px;
}

/* Add media query for style above certain screen size */
@media screen and (min-width: 600px) {
  #albums-list {
      grid-template-columns: repeat(2, 1fr);
  }
}


 /* Add media query for style above certain screen size */
 @media screen and (min-width: 800px) {
  #albums-list {
      grid-template-columns: repeat(3, 1fr);
  }
}

 /* Add media query for style above certain screen size */
 @media screen and (min-width: 1000px) {
  #albums-list {
      grid-template-columns: repeat(4, 1fr);
  }
}

.album {
  border: 1px solid;
  border-radius: 3px;
  backdrop-filter: blur(4px);
  padding: 12px;
  /* height: 420px; */
  /* width: 500px; */
   display: flex;
flex-direction: column;
align-items: center;
}

.dark-mode .album {
  background-color: #2E1603;
}

.light-mode .album {
  background-color: #F4F0E5;
}



.album img {
  border-radius: 1px;
  margin-bottom: 20px;
  height: 300px;
  width: 200px;
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
}

.album:hover img{
  transform: scale(1.4); }

.album:hover body{
    transform: scale(1.2); }

button {
  font-size: 1.13rem;
 background-color: #F4F0E5;
  color: #2E1603;
	

border: solid 0.2vh #2E1603;
 

  border: 2px solid #2E1603;
  padding: 0.6rem 0.7rem;
  border-radius: 400px;
  position:absolute;
  top: 125px;
  
  
}


body {
	background: linear-gradient(-70deg, #3B2D20, #58341E, #F4F0E5, #CEB89E);
	background-size: 800% 800%;
	animation: gradient 4s ease infinite;
	height: 650vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

 
  h1 {
    font-family: 'space mono';
    font-size: 100px;
    line-height: 0.95;
    letter-spacing: -0.04em;
    text-align: center;
    position: sticky;
    top: 0;
    margin: 0 0 1em;
    padding-top: 1em;
    color: #58341E;
  }