* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  
  color: color: #2E1603;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: 'Space Mono';
  
}

header h1 {
  font-size: 40px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

section p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #333;
}

.marquee p {
  display: inline-block;
  margin-right: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 768px) {
 